<div class='about'>
  <div class='hero-unit'>
    <h3>Golden Guide: Your compass through the senior housing maze.</h3>

    <p>Find all the senior housing information you need to help make the right choice for you or your loved ones!</p>

    <ul>Search for senior housing by criteria such as location, services provided,cost and ratings.</p>
    <p>Users can easily see ratings from city, state and federal government.
    <p>Members can contribute a review.</p></ul>

    <p>Golden Guide is headquartered in Seattle, WA.
  </div>
